@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&family=Roboto&family=Space+Grotesk:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #FFFFFF;
  --text-color: #4E4E4E ;
  --sub-text-color: #4E4E4E;
  --primary-color: #7083d9;
  --secondary-bg: #F8F8F8;
  --nav-bg: #555555;
  --btn-color: #FFFFFF;
  --poppin: "Poppins", sans-serif;
  --grotesk: "Space Grotesk", sans-serif;
  --montserrat: "Poppins", sans-serif;
}

body {
  background: var(--bg-color);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5vw;
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--bg-color);
  z-index: 99;
}
header .logo a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--grotesk);
  font-size: 1.5rem;
  font-weight: 500;
}
header .logo a span {
  color: var(--primary-color);
}
header .nav-menu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .nav-menu ul a {
  font-family: var(--poppin);
  text-decoration: none;
  color: var(--text-color);
  transition: 0.5s;
}
header .nav-menu ul a:hover {
  color: var(--primary-color);
  transition: 0.5s;
}
header .contact a {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--bg-color);
  text-decoration: none;
  font-family: var(--poppin);
  border-radius: 20px;
}
header .toggle {
  display: none;
  color: var(--text-color);
  font-size: 23px;
  cursor: pointer;
}

#hero-section {
  margin-top: 10rem;
  padding: 2rem 5vw;
}
#hero-section .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
#hero-section .container .content h1 {
  font-size: 3.5rem;
  font-family: var(--montserrat);
  color: var(--text-color);
}
#hero-section .container .content p {
  color: var(--sub-text-color);
  font-family: var(--poppin);
  margin-top: 1rem;
  width: 80%;
  line-height: 30px;
}
#hero-section .container .content .book-call {
  margin-top: 2rem;
}
#hero-section .container .content .book-call a {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--bg-color);
  text-decoration: none;
  font-family: var(--poppin);
  border-radius: 20px;
}
#hero-section .container .hero-image {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero-section .container .hero-image img {
  width: 80%;
}
#hero-section .partners {
  margin-top: 5vw;
  display: flex;
  justify-content: space-between;
}
#hero-section .partners img {
  width: 70%;
}

#showcase {
  margin-top: 2rem;
  padding: 3rem 5vw;
  background: var(--secondary-bg);
}
#showcase .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  gap: 30px;
}
#showcase .container .showcase {
  margin-top: 20px;
}
#showcase .container .showcase .num {
  position: relative;
  width: 100px;
  height: 100px;
  background: url("../assest/Ellipse 5.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
#showcase .container .showcase .num h2 {
  font-size: 2.5rem;
  font-family: var(--poppin);
  color: var(--text-color);
}
#showcase .container .showcase .content {
  font-family: var(--poppin);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--sub-text-color);
}

#process {
  padding: 3rem 5vw;
}
#process .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
#process .container .process-image {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#process .container .process-image img {
  width: 90%;
}
#process .container .process-content h2 {
  color: var(--text-color);
  font-family: var(--montserrat);
  font-size: 40px;
}
#process .container .process-content .process {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
#process .container .process-content .process .content {
  display: flex;
  gap: 10px;
}
#process .container .process-content .process .content .content-img {
  width: 10rem;
  height: 50px;
  background: url("../assest/process1.png");
  background-position: center;
  background-repeat: no-repeat;
}
#process .container .process-content .process .content h3 {
  color: var(--text-color);
  font-family: var(--poppin);
  font-weight: 300;
  font-size: 20px;
}
#process .container .process-content .process .content p {
  margin-top: 10px;
  width: 80%;
  color: var(--sub-text-color);
  font-family: var(--poppin);
}
#process .container .process-content .process .content:nth-child(2) {
  margin-left: 50px;
}
#process .container .process-content .process .content:nth-child(2) .content-img {
  width: 10rem;
  height: 50px;
  background: url("../assest/process2.png");
  background-position: center;
  background-repeat: no-repeat;
}
#process .container .process-content .process .content:nth-child(3) .content-img {
  width: 10rem;
  height: 50px;
  background: url("../assest/process3.png");
  background-position: center;
  background-repeat: no-repeat;
}
#process .container .process-content .process::after {
  position: absolute;
  content: "";
  width: 100px;
  background: url("../assest/Arrow 2.png");
  height: 200px;
  right: 0;
  top: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}
#process .container .process-content .process::before {
  position: absolute;
  content: "";
  width: 100px;
  background: url("../assest/Arrow 3.png");
  height: 200px;
  left: -40px;
  bottom: 80px;
  background-repeat: no-repeat;
  background-size: contain;
}

#offer {
  padding: 5rem 5vw;
}
#offer .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#offer .container .top h2 {
  font-size: 2rem;
  color: var(--text-color);
  font-family: var(--montserrat);
}
#offer .container .top p {
  width: 30%;
  font-family: var(--poppin);
  color: var(--sub-text-color);
}
#offer .container .offer-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
#offer .container .offer-container .offer {
  background: var(--secondary-bg);
  height: 500px;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
#offer .container .offer-container .offer .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://www.creativeboom.com/uploads/articles/64/644ca21957dba94677be2cc81eec28297f453566_810.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
#offer .container .offer-container .offer span {
  font-family: var(--poppin);
  color: var(--nav-bg);
}
#offer .container .offer-container .offer p {
  margin-top: 1rem;
  font-family: var(--poppin);
  color: var(--sub-text-color);
}
#offer .container .offer-container .offer .readmore {
  position: absolute;
  bottom: 20px;
}
#offer .container .offer-container .offer .readmore a {
  color: var(--sub-text-color);
  font-family: var(--poppin);
}
#offer .container .offer-container .offer:hover {
  opacity: 1;
  transition: 0.5s;
}
#offer .container .offer-container .offer:nth-child(2) .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://www.usnews.com/dims4/USNEWS/fb6e5fb/2147483647/crop/2000x1334+0+2/resize/970x647/quality/85/?url=https%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F65%2F62%2Fc9cb60d24ac89d56462b1228574a%2F201009-codingcomputer-stock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
#offer .container .offer-container .offer:nth-child(3) .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://img.freepik.com/free-vector/seo-analytics-team-concept-illustration_114360-9205.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
#offer .container .offer-container .offer:nth-child(4) .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://www.themmachine.com/wp-content/uploads/logo-design-the-m-machine-0ct-2023-blog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

#project {
  padding: 3rem 5vw;
  background: var(--secondary-bg);
}
#project .container h2 {
  text-align: center;
  font-family: var(--montserrat);
  color: var(--text-color);
  font-size: 2rem;
}
#project .container .swiper {
  margin-top: 5vw;
}
#project .container .swiper .swiper-wrapper .swiper-slide {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  background: url("../assest/1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background: url("../assest/2.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background: url("../assest/3.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(4) {
  background: url("../assest/4.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(5) {
  background: url("../assest/5.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(6) {
  background: url("../assest/6.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(7) {
  background: url("../assest/7.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(8) {
  background: url("../assest/8.png");
  background-position: left;
  background-size: cover;
}
#project .container .swiper .swiper-wrapper .swiper-slide:nth-child(9) {
  background: url("../assest/9.jpeg");
  background-position: left;
  background-size: cover;
}

#client-reviews {
  padding: 5rem 5vw;
}
#client-reviews .container h2 {
  text-align: center;
  font-family: var(--poppin);
  color: var(--text-color);
  font-size: 2rem;
}
#client-reviews .container .reviews {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
#client-reviews .container .reviews .client-review {
  text-align: center;
}
#client-reviews .container .reviews .client-review .client-img {
  width: 100px;
  height: 100px;
  background: url("../assest/client.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
#client-reviews .container .reviews .client-review .client-content {
  margin-top: 20px;
}
#client-reviews .container .reviews .client-review .client-content h3 {
  color: var(--text-color);
  font-family: var(--poppin);
  font-weight: 200;
  font-size: 20px;
}
#client-reviews .container .reviews .client-review .client-content p {
  margin-top: 5px;
  color: var(--sub-text-color);
  font-family: var(--poppin);
}
#client-reviews .container .reviews .client-review:nth-child(2) .client-img {
  width: 100px;
  height: 100px;
  background: url("../assest/client 2.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}
#client-reviews .container .reviews .client-review:nth-child(3) .client-img {
  width: 100px;
  height: 100px;
  background: url("../assest/client 3.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  padding: 5rem 5vw;
  background: var(--secondary-bg);
}
#contact .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
#contact .container .contact-img {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .container .contact-img img {
  width: 90%;
}
#contact .container .contact-details h2 {
  color: var(--text-color);
  font-size: 2rem;
  font-family: var(--poppin);
}
#contact .container .contact-details p {
  margin-top: 1rem;
  font-family: var(--poppin);
  color: var(--sub-text-color);
  width: 80%;
}
#contact .container .contact-details .book {
  margin-top: 2rem;
}
#contact .container .contact-details .book a {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--btn-color);
  text-decoration: none;
  font-family: var(--poppin);
  border-radius: 20px;
}

footer {
  padding: 3rem 5vw;
  padding-bottom: 0;
  background: var(--bg-color);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
footer .container .left .logo a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--grotesk);
  font-size: 1.5rem;
  font-weight: 500;
}
footer .container .left .logo a span {
  color: var(--primary-color);
}
footer .container .left p {
  margin-top: 1rem;
  color: var(--sub-text-color);
  font-family: var(--poppin);
  width: 50%;
}
footer .container .left .social {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  font-size: 18px;
}
footer .container .left .social a {
  color: var(--text-color);
}
footer .container .left .newsletter {
  margin-top: 2rem;
  width: 80%;
}
footer .container .left .newsletter h2 {
  color: var(--text-color);
  font-family: var(--poppin);
  font-weight: 300;
}
footer .container .left .newsletter .email-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
}
footer .container .left .newsletter .email-container input {
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 18px;
  outline: 0;
}
footer .container .left .newsletter .email-container .send {
  color: black;
  font-size: 20px;
  cursor: pointer;
  background: white;
  padding: 5px;
  border-radius: 50%;
}
footer .container .right {
  margin-top: 2rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .container .right ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .right ul a {
  color: var(--text-color);
  font-family: var(--poppin);
}
footer .container .right .email {
  margin-top: 2rem;
}
footer .container .right .email p {
  font-family: var(--poppin);
  color: var(--sub-text-color);
  margin-bottom: 5px;
}
footer .container .right .email a {
  color: var(--sub-text-color);
  font-family: var(--grotesk);
}
footer .copyright {
  margin-top: 4rem;
  color: var(--sub-text-color);
  font-family: var(--poppin);
  text-align: center;
}

@media (max-width: 768px) {
  header .nav-menu {
    position: absolute;
    width: 100%;
    left: 0;
    background: var(--secondary-bg);
    top: -300%;
    transition: 0.5s;
  }
  header .nav-menu ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 30px;
    padding: 30px;
  }
  header .nav-menu ul a {
    display: block;
  }
  header .active-nav {
    top: 5rem;
    transition: 0.5s;
  }
  header .contact {
    display: none;
  }
  header .toggle {
    display: block;
  }
  #hero-section {
    margin-top: 7rem;
  }
  #hero-section .container {
    display: block;
  }
  #hero-section .container .content {
    text-align: center;
  }
  #hero-section .container .content h1 {
    font-size: 3rem;
    width: 100%;
  }
  #hero-section .container .content p {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #offer .container .top {
    display: block;
  }
  #offer .container .top p {
    width: 100%;
    margin-top: 1rem;
  }
  #client-reviews .container .reviews {
    margin-top: 1rem;
  }
  #client-reviews .container .reviews .client-review {
    margin-top: 2rem;
  }
  #contact .container {
    display: block;
    gap: 30px;
  }
  #contact .container .contact-img img {
    width: 100%;
  }
  footer .container {
    display: block;
  }
  footer .container .left p {
    width: 100%;
  }
  footer .container .right {
    display: block;
  }
}
@media (max-width: 800px) {
  #process .container {
    display: block;
  }
  #process .container .process-content {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=style.css.map */