@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&family=Roboto&family=Space+Grotesk:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #FFFFFF;
  --text-color: #4E4E4E ;
  --sub-text-color: #4E4E4E;
  --primary-color: #7083d9;
  --secondary-bg: #F8F8F8;
  --nav-bg: #555555;
  --btn-color: #FFFFFF;
  --poppin: "Poppins", sans-serif;
  --grotesk: "Space Grotesk", sans-serif;
  --montserrat: "Poppins", sans-serif;
}

body {
  background: var(--bg-color);
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5vw;
  position: fixed;
  width: 100%;
  top: 0;
  background: var(--bg-color);
  z-index: 99;
}
header .logo a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--grotesk);
  font-size: 1.5rem;
  font-weight: 500;
}
header .logo a span {
  color: var(--primary-color);
}
header .nav-menu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .nav-menu ul a {
  font-family: var(--poppin);
  text-decoration: none;
  color: var(--text-color);
  transition: 0.5s;
}
header .nav-menu ul a:hover {
  color: var(--primary-color);
  transition: 0.5s;
}
header .contact a {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--bg-color);
  text-decoration: none;
  font-family: var(--poppin);
  border-radius: 20px;
}
header .toggle {
  display: none;
  color: var(--text-color);
  font-size: 23px;
  cursor: pointer;
}

#hero-section {
  margin-top: 10rem;
  padding: 0rem 5vw;
}
#hero-section .container .hero-content h1 {
  font-size: 3.3rem;
  font-family: var(--grotesk);
  font-weight: 500;
  width: 50%;
}
#hero-section .container .hero-content .btn {
  margin-top: 2rem;
}
#hero-section .container .hero-content .btn a {
  font-family: var(--grotesk);
  font-size: 1.2rem;
  color: var(--sub-text-color);
  font-weight: bold;
}

#projects-section {
  padding: 6rem 5vw;
}
#projects-section .container .project-type p {
  color: var(--nav-bg);
  font-family: var(--montserrat);
}
#projects-section .container .projects-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}
#projects-section .container .projects-container a .project {
  width: 100%;
  height: 300px;
  background: url("../../assest/1.png");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#projects-section .container .projects-container a:nth-child(2) .project {
  background: url("../../assest/2.png");
  background-position: center;
  background-size: cover;
}
#projects-section .container .projects-container a:nth-child(3) .project {
  background: url("../../assest/3.png");
  background-position: center;
  background-size: cover;
}
#projects-section .container .projects-container a:nth-child(4) .project {
  background: url("../../assest/4.png");
  background-position: center;
  background-size: cover;
}
#projects-section .container .projects-container a:nth-child(5) .project {
  background: url("../../assest/5.png");
  background-position: center;
  background-size: cover;
}
#projects-section .container .projects-container a:nth-child(6) .project {
  background: url("../../assest/6.png");
  background-position: center;
  background-size: cover;
}
#projects-section .container .projects-container a:nth-child(7) .project {
  background: url("../../assest/7.png");
  background-position: center;
  background-size: cover;
}
#projects-section .container .projects-container a:nth-child(8) .project {
  background: url("../../assest/8.png");
  background-position: center;
  background-size: cover;
}

#offer {
  padding: 5rem 5vw;
}
#offer .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#offer .container .top h2 {
  font-size: 2rem;
  color: var(--text-color);
  font-family: var(--montserrat);
}
#offer .container .top p {
  width: 30%;
  font-family: var(--poppin);
  color: var(--sub-text-color);
}
#offer .container .offer-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
#offer .container .offer-container .offer {
  background: var(--secondary-bg);
  height: 500px;
  padding: 1.5rem;
  border-radius: 10px;
  position: relative;
  opacity: 0.8;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
#offer .container .offer-container .offer .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://www.creativeboom.com/uploads/articles/64/644ca21957dba94677be2cc81eec28297f453566_810.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
#offer .container .offer-container .offer span {
  font-family: var(--poppin);
  color: var(--nav-bg);
}
#offer .container .offer-container .offer p {
  margin-top: 1rem;
  font-family: var(--poppin);
  color: var(--sub-text-color);
}
#offer .container .offer-container .offer .readmore {
  position: absolute;
  bottom: 20px;
}
#offer .container .offer-container .offer .readmore a {
  color: var(--sub-text-color);
  font-family: var(--poppin);
}
#offer .container .offer-container .offer:hover {
  opacity: 1;
  transition: 0.5s;
}
#offer .container .offer-container .offer:nth-child(2) .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://www.usnews.com/dims4/USNEWS/fb6e5fb/2147483647/crop/2000x1334+0+2/resize/970x647/quality/85/?url=https%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F65%2F62%2Fc9cb60d24ac89d56462b1228574a%2F201009-codingcomputer-stock.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
#offer .container .offer-container .offer:nth-child(3) .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://img.freepik.com/free-vector/seo-analytics-team-concept-illustration_114360-9205.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}
#offer .container .offer-container .offer:nth-child(4) .offerImage {
  width: 100%;
  height: 200px;
  background: url("https://www.themmachine.com/wp-content/uploads/logo-design-the-m-machine-0ct-2023-blog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  border-radius: 10px;
}

#contact {
  padding: 5rem 5vw;
  background: var(--secondary-bg);
}
#contact .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
}
#contact .container .contact-img {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .container .contact-img img {
  width: 90%;
}
#contact .container .contact-details h2 {
  color: var(--text-color);
  font-size: 2rem;
  font-family: var(--poppin);
}
#contact .container .contact-details p {
  margin-top: 1rem;
  font-family: var(--poppin);
  color: var(--sub-text-color);
  width: 80%;
}
#contact .container .contact-details .book {
  margin-top: 2rem;
}
#contact .container .contact-details .book a {
  padding: 10px 20px;
  background: var(--primary-color);
  color: var(--btn-color);
  text-decoration: none;
  font-family: var(--poppin);
  border-radius: 20px;
}

footer {
  padding: 3rem 5vw;
  padding-bottom: 0;
  background: var(--bg-color);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
footer .container .left .logo a {
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--grotesk);
  font-size: 1.5rem;
  font-weight: 500;
}
footer .container .left .logo a span {
  color: var(--primary-color);
}
footer .container .left p {
  margin-top: 1rem;
  color: var(--sub-text-color);
  font-family: var(--poppin);
  width: 50%;
}
footer .container .left .social {
  margin-top: 1rem;
  display: flex;
  gap: 20px;
  font-size: 18px;
}
footer .container .left .social a {
  color: var(--text-color);
}
footer .container .left .newsletter {
  margin-top: 2rem;
  width: 80%;
}
footer .container .left .newsletter h2 {
  color: var(--text-color);
  font-family: var(--poppin);
  font-weight: 300;
}
footer .container .left .newsletter .email-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 20px;
}
footer .container .left .newsletter .email-container input {
  border: 0;
  background-color: transparent;
  width: 100%;
  padding: 5px;
  color: white;
  font-size: 18px;
  outline: 0;
}
footer .container .left .newsletter .email-container .send {
  color: black;
  font-size: 20px;
  cursor: pointer;
  background: white;
  padding: 5px;
  border-radius: 50%;
}
footer .container .right {
  margin-top: 2rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
footer .container .right ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .container .right ul a {
  color: var(--text-color);
  font-family: var(--poppin);
}
footer .container .right .email {
  margin-top: 2rem;
}
footer .container .right .email p {
  font-family: var(--poppin);
  color: var(--sub-text-color);
  margin-bottom: 5px;
}
footer .container .right .email a {
  color: var(--sub-text-color);
  font-family: var(--grotesk);
}
footer .copyright {
  margin-top: 4rem;
  color: var(--sub-text-color);
  font-family: var(--poppin);
  text-align: center;
}

@media (max-width: 768px) {
  header .nav-menu {
    position: absolute;
    width: 100%;
    left: 0;
    background: var(--secondary-bg);
    top: -300%;
    transition: 0.5s;
  }
  header .nav-menu ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0;
    gap: 30px;
    padding: 30px;
  }
  header .nav-menu ul a {
    display: block;
  }
  header .active-nav {
    top: 5rem;
    transition: 0.5s;
  }
  header .contact {
    display: none;
  }
  header .toggle {
    display: block;
  }
  #hero-section .container .hero-content h1 {
    width: 100%;
  }
  #hero-section .container .hero-content .btn {
    margin-top: 2rem;
  }
  #offer .container .top {
    display: block;
  }
  #offer .container .top p {
    width: 100%;
    margin-top: 1rem;
  }
  #contact .container {
    display: block;
    gap: 20px;
  }
  #contact .container .contact-img img {
    width: 100%;
  }
  footer .container {
    display: block;
  }
  footer .container .left p {
    width: 100%;
  }
  footer .container .right {
    display: block;
  }
}/*# sourceMappingURL=project.css.map */