@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500&family=Roboto&family=Space+Grotesk:wght@400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    // dark mode
    --bg-color: #ffffff;
    --text-color: #4e4e4e;
    --sub-text-color: #4e4e4e;
    --primary-color: #7083d9;
    --secondary-bg: #f8f8f8;
    --nav-bg: #555555;
    --btn-color: #ffffff;

    // fonts
    --poppin: "Poppins", sans-serif;
    --grotesk: "Space Grotesk", sans-serif;
    --montserrat: "Syne", sans-serif;
}

body {
    background: var(--bg-color);
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5vw;
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bg-color);
    z-index: 99;
    .logo {
        a {
            color: var(--text-color);
            text-decoration: none;
            font-family: var(--grotesk);
            font-size: 1.5rem;
            font-weight: 500;

            span {
                color: var(--primary-color);
            }
        }
    }

    .nav-menu {
        ul {
            display: flex;
            align-items: center;
            gap: 50px;

            a {
                font-family: var(--poppin);
                text-decoration: none;
                color: var(--text-color);
                transition: 0.5s;

                &:hover {
                    color: var(--primary-color);
                    transition: 0.5s;
                }
            }
        }
    }

    .contact {
        a {
            padding: 10px 20px;
            background: var(--primary-color);
            color: var(--bg-color);
            text-decoration: none;
            font-family: var(--poppin);
            border-radius: 20px;
        }
    }

    .toggle {
        display: none;
        color: var(--text-color);
        font-size: 23px;
        cursor: pointer;
    }
}

main {
    margin-top: 8rem;

    #hero-section {
        .container {
            .col-1 {
                display: grid;
                grid-template-columns: repeat(2, 50%);
                padding: 3rem 5vw;

                h1 {
                    font-family: var(--montserrat);
                    font-size: 1.8rem;
                }
                .content {
                    p {
                        font-family: var(--poppin);
                    }
                    .view {
                        margin-top: 1rem;
                        font-family: var(--poppin);
                        font-size: 1rem;
                        a {
                            color: black;
                        }
                    }
                }
            }

            .swiper {
                width: 100%;
                height: 100%;
                margin-top: 3rem;
                .swiper-slide {
                    background: url("../assest/1.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 400px;

                    &:nth-child(2) {
                        background: url("../assest/02.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:nth-child(3) {
                        background: url("../assest/Group\ 99.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }

            .project-details {
                padding: 3rem 5vw;
                .col-2 {
                    .content {
                        p {
                            font-family: var(--poppin);
                            &:nth-child(2) {
                                margin-top: 15px;
                            }
                        }
                    }
                }

                .features {
                    margin-top: 3rem;
                    h2 {
                        font-family: var(--grotesk);
                        font-size: 1.8rem;
                    }

                    .features-container {
                        margin-top: 1.4rem;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        .features-content {
                            background: #fafafa;
                            padding: 15px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            p {
                                font-size: 1rem;
                                font-family: var(--poppin);
                            }
                            span {
                                font-size: 1.5rem;
                                font-family: var(--poppin);
                            }
                        }
                    }
                }
            }
        }
    }

    #other-projects {
        padding: 3rem 5vw;
        .container {
            h2 {
                font-family: var(--grotesk);
                font-size: 1.8rem;
            }

            .other-projects-container {
                margin-top: 2rem;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 10px;
                a {
                    text-decoration: none;
                    .project {
                        width: 100%;
                        height: 300px;
                        border-radius: 10px;
                        background: red;
                    }
                    .project-name {
                        margin-top: 1rem;

                        .type {
                            color: var(--sub-text-color);
                            font-family: var(--poppin);
                            font-weight: bold;
                            font-size: 0.9rem;
                        }

                        .name {
                            font-size: 1.2rem;
                            margin-top: 2px;
                            color: rgba(0, 0, 0, 0.856);
                            font-weight: bold;
                            font-family: var(--poppin);
                        }
                    }

                    &:nth-child(1) {
                        .project {
                            background: url("../assest/Group\ 17.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                    &:nth-child(2) {
                        .project {
                            background: url("../../festivaLive/assest/1.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }

                    &:nth-child(3) {
                        .project {
                            background: url("../../kindheartcharity/assest/Group\ 99.png");
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 3rem 5vw;
    padding-bottom: 0;
    background: #fafafa;
    .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        .left {
            .logo {
                a {
                    color: var(--text-color);
                    text-decoration: none;
                    font-family: var(--grotesk);
                    font-size: 1.5rem;
                    font-weight: 500;

                    span {
                        color: var(--primary-color);
                    }
                }
            }
            p {
                margin-top: 1rem;
                color: var(--sub-text-color);
                font-family: var(--poppin);
                width: 50%;
            }

            .social {
                margin-top: 1rem;
                display: flex;
                gap: 20px;
                font-size: 18px;

                a {
                    color: var(--text-color);
                }
            }

            .newsletter {
                margin-top: 2rem;
                width: 80%;
                h2 {
                    color: var(--text-color);
                    font-family: var(--poppin);
                    font-weight: 300;
                }
                .email-container {
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    border: 1px solid gray;
                    padding: 10px;
                    border-radius: 20px;
                    input {
                        border: 0;
                        background-color: transparent;
                        width: 100%;
                        padding: 5px;
                        color: white;
                        font-size: 18px;
                        outline: 0;
                    }

                    .send {
                        color: black;
                        font-size: 20px;
                        cursor: pointer;
                        background: white;
                        padding: 5px;
                        border-radius: 50%;
                    }
                }
            }
        }

        .right {
            margin-top: 2rem;
            display: flex;
            align-items: start;
            justify-content: space-between;
            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                a {
                    color: var(--text-color);
                    font-family: var(--poppin);
                }
            }
            .email {
                margin-top: 2rem;
                p {
                    font-family: var(--poppin);
                    color: var(--sub-text-color);
                    margin-bottom: 5px;
                }
                a {
                    color: var(--sub-text-color);
                    font-family: var(--grotesk);
                }
            }
        }
    }
    .copyright {
        margin-top: 4rem;
        color: var(--sub-text-color);
        font-family: var(--poppin);
        text-align: center;
    }
}

@media (max-width: 768px) {
    header {
        .nav-menu {
            position: absolute;
            width: 100%;
            left: 0;
            background: var(--secondary-bg);
            top: -300%;
            transition: 0.5s;
            ul {
                text-align: center;
                display: flex;
                flex-direction: column;
                left: 0;
                gap: 30px;
                padding: 30px;
                a {
                    display: block;
                }
            }
        }
        .active-nav {
            top: 5rem;
            transition: 0.5s;
        }
        .contact {
            display: none;
        }
        .toggle {
            display: block;
        }
    }

    main {
        margin-top: 5rem;
        #hero-section {
            .container {
                .col-1 {
                    display: block;

                    .content {
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    footer {
        .container {
            display: block;
            .left {
                p {
                    width: 100%;
                }
            }
            .right {
                display: block;
            }
        }
    }
}
