* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 0.5s all;
}

:root {
    --bg-color: #ffffff;
    --text-color: #4e4e4e;
    --sub-text-color: #4e4e4e;
    --primary-color: #7083d9;
    --secondary-bg: #f8f8f8;
    --nav-bg: #555555;
    --btn-color: #ffffff;

    --poppin: "Poppins", sans-serif;
    --grotesk: "Space Grotesk", sans-serif;
    --montserrat: "Syne", sans-serif;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5vw;
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bg-color);
    z-index: 99;
}
header .logo a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--grotesk);
    font-size: 1.5rem;
    font-weight: 500;
}
header .logo a span {
    color: var(--primary-color);
}
header .nav-menu ul {
    display: flex;
    align-items: center;
    gap: 50px;
}
header .nav-menu ul a {
    font-family: var(--poppin);
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;
}
header .nav-menu ul a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}
header .contact a {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--bg-color);
    text-decoration: none;
    font-family: var(--poppin);
    border-radius: 20px;
}
header .toggle {
    display: none;
    color: var(--text-color);
    font-size: 23px;
    cursor: pointer;
}

.main-wrap::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../asset/image/bg.png");
    animation: 0.8s infinite noise;
    pointer-events: none;
}

#contact-container {
    margin-top: 5rem;
}
.col-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.col-1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12%;
}
.col-1 h3 {
    font-size: 20px;
    font-family: var(--poppin);
}
.col-1 .contact {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact a {
    color: black;
    font-family: var(--poppin);
    font-size: 18px;
}
.col-1 .best {
    font-family: var(--poppin);
    width: 50%;
    color: gray;
    font-weight: 300;
}
.us {
    display: flex;
    align-items: center;
    gap: 5px;
}
.ng {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.col-container .col-2 {
    background: var(--primary-color);
    padding: 2rem;
    border-radius: 20px;
    color: white;
    margin: 5%;
}
.col-2 h1 {
    font-size: 70px;
    font-family: var(--poppin);
}
.col-2 p {
    margin-top: 10px;
    font-family: var(--grotesk);
    font-size: 18px;
}
.col-2 form {
    margin-top: 3rem;
}
.col-2 form .input-col {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
.col-2 form span > input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(190, 190, 190);
    outline: 0;
    color: white;
}
::placeholder {
    color: white;
}
form > .message {
    margin-top: 2rem;
}
.message textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgb(190, 190, 190);
    font-family: var(--montserrat);
    outline: 0;
    color: white;
}

.budget {
    margin-top: 3rem;
}
.budget p {
    font-size: 23px;
}
.budget .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.options span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 10px;
}
.options span label {
    font-family: var(--poppin);
    font-weight: 400;
}

.project-type {
    margin-top: 3rem;
}
.project-type p {
    font-size: 23px;
}
.project-type .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

form .send {
    padding: 15px;
    margin-top: 3rem;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    background: black;
    color: white;
    border: 0;
    border-radius: 10px;
    outline: 0;
}

.project-type .options span input[type="checkbox"] {
    display: none;
}
.budget .options span input[type="checkbox"] {
    display: none;
}

.checkbox {
    width: 1.5em;
    height: 1.5em;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 3px;
    cursor: pointer;
}

@media (max-width: 950px) {
    .col-container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 3rem;
    }
    .best {
        margin-top: 4rem;
    }
    .col-2 {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    header .nav-menu {
        position: absolute;
        width: 100%;
        left: 0;
        background: var(--secondary-bg);
        top: -300%;
        transition: 0.5s;
    }
    header .nav-menu ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        left: 0;
        gap: 30px;
        padding: 30px;
    }
    header .nav-menu ul a {
        display: block;
    }
    header .active-nav {
        top: 5rem;
        transition: 0.5s;
    }
    header .contact {
        display: none;
    }
    header .toggle {
        display: block;
    }

    .col-1 {
        padding-left: 5%;
        padding-top: 5%;
    }
    .col-2 h1 {
        font-size: 50px;
    }
    .col-2 form .input-col {
        display: block;
    }
    .input-col span input {
        margin-top: 2rem;
        padding-left: 0;
    }
    .project-type .options,
    .budget .options {
        display: block;
    }
    .project-type .options span,
    .budget .options span {
        justify-content: start;
        align-items: unset;
        margin-top: 20px;
    }
}

@media (max-width: 428px) {
    .col-container .col-2 {
        margin: 0%;
        margin-top: 2em;
    }
}
