* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 0.5s all;
}

:root {
    --bg-color: #ffffff;
    --text-color: #4e4e4e;
    --sub-text-color: #4e4e4e;
    --primary-color: #7083d9;
    --secondary-bg: #f8f8f8;
    --nav-bg: #555555;
    --btn-color: #ffffff;

    --poppin: "Poppins", sans-serif;
    --grotesk: "Space Grotesk", sans-serif;
    --montserrat: "Syne", sans-serif;
}

body {
    background: var(--bg-color);
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5vw;
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--bg-color);
    z-index: 99;
}
header .logo a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--grotesk);
    font-size: 1.5rem;
    font-weight: 500;
}
header .logo a span {
    color: var(--primary-color);
}
header .nav-menu ul {
    display: flex;
    align-items: center;
    gap: 50px;
}
header .nav-menu ul a {
    font-family: var(--poppin);
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;
}
header .nav-menu ul a:hover {
    color: var(--primary-color);
    transition: 0.5s;
}
header .contact a {
    padding: 10px 20px;
    background: var(--primary-color);
    color: var(--bg-color);
    text-decoration: none;
    font-family: var(--poppin);
    border-radius: 20px;
}
header .toggle {
    display: none;
    color: var(--text-color);
    font-size: 23px;
    cursor: pointer;
}

#hero {
    padding: 10% 5%;
    width: 100%;
    background: #804ce4;
    border-radius: 20px;
}

#hero .hero-content h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 60px;
    line-height: 80px;
    color: white;
    font-weight: 400;
}

#hero .hero-content p {
    margin-top: 25px;
    font-family: "Space Grotesk", sans-serif;
    font-size: 20px;
    color: white;
    width: 50%;
}

#hero .hero-content a .connect {
    margin-top: 2rem;
    font-size: 20px;
    padding: 20px 40px;
    background: black;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-family: "Space Grotesk", sans-serif;
    transition: 0.5s;
}

#hero .hero-content a .connect:hover {
    font-size: 20px;
    transition: 0.5s;
}

/* ----------------------------------Showcase---------------- */

#showcase {
    padding: 5%;
    padding-top: 10%;
}

#showcase .content-container {
    padding-bottom: 10%;
    border-bottom: 1px solid black;
}

#showcase .content-container .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#showcase .content-container .top .col-1 {
    display: block;
}

#showcase .content-container .top .col-1 .step {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    color: #804ce4;
    border: 2px solid #804ce4;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
}

#showcase .content-container .top .col-1 .text {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 10px;
}

#showcase .content-container .top .col-1 .text h2 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-size: 60px;
}

#showcase .content-container .top .col-2 {
    width: 50%;
    font-family: "Space Grotesk", sans-serif;
    line-height: 30px;
    font-size: 18px;
}

#showcase .content-container .discover-content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

#showcase .content-container .discover-content .content {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

#showcase .content-container .discover-content .content h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 25px;
}

#showcase .content-container .discover-content .content p {
    margin-top: 1rem;
    font-family: var(--grotesk);
    line-height: 30px;
}

#showcase .ideation,
.design,
.deliver {
    margin-top: 10%;
}
#showcase .deliver.content-container {
    border: none;
    margin-bottom: -5rem;
}

/* ---------------------------Engage */
#engage {
    background: #120232;
    padding: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 5rem;
}

#engage .retail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#engage .retail .text {
    text-align: right;
}

#engage .retail .text h2 {
    color: white;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 100px;
}

#engage .retail .text .col {
    display: flex;
    align-items: center;
    gap: 10px;
}

#engage .retail .board {
    background: white;
    border-radius: 20px;
    padding: 40px;
    width: 50%;
}

#engage .retail .board .top .col-container {
    display: flex;
    align-items: center;
}

#engage .retail .board .top .col-container .col-1 h1 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 35px;
    font-weight: 400;
}

#engage .retail .board .top .col-container .col-1 p {
    font-family: "Space Grotesk", sans-serif;
    margin-top: 10px;
    font-size: 18px;
    width: 80%;
}

#engage .retail .board .bottom .col {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 3rem;
    gap: 20px;
}

#engage .retail .board .bottom .col-1 span {
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
}

#engage .retail .board .bottom .col-1 p {
    margin-top: 2rem;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
}

#engage .retail .board .bottom .col-2 span {
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
}

#engage .retail .board .bottom .col-2 p {
    margin-top: 2rem;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
}

#engage .fixed {
    margin-top: 10%;
    flex-direction: row-reverse;
}

#another {
    padding: 2rem;
    overflow: hidden;
}

#another .top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

#another h1 {
    font-size: 90px;
    font-family: "Space Grotesk", sans-serif;
}

#another a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#another .contact {
    padding: 10px 20px;
    background: var(--primary-color);
    font-family: "Space Grotesk", sans-serif;
    font-size: 25px;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    color: white;
    font-weight: 400;
    margin-top: 5rem;
    cursor: pointer;
}

footer {
    padding: 3rem 5vw;
    padding-bottom: 0;
    background: rgba(243, 243, 243, 0.582);
}
footer .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
footer .container .left .logo a {
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--grotesk);
    font-size: 1.5rem;
    font-weight: 500;
}
footer .container .left .logo a span {
    color: var(--primary-color);
}
footer .container .left p {
    margin-top: 1rem;
    color: var(--sub-text-color);
    font-family: var(--poppin);
    width: 50%;
}
footer .container .left .social {
    margin-top: 1rem;
    display: flex;
    gap: 20px;
    font-size: 18px;
}
footer .container .left .social a {
    color: var(--text-color);
}
footer .container .left .newsletter {
    margin-top: 2rem;
    width: 80%;
}
footer .container .left .newsletter h2 {
    color: var(--text-color);
    font-family: var(--poppin);
    font-weight: 300;
}
footer .container .left .newsletter .email-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 20px;
}
footer .container .left .newsletter .email-container input {
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 5px;
    color: white;
    font-size: 18px;
    outline: 0;
}
footer .container .left .newsletter .email-container .send {
    color: black;
    font-size: 20px;
    cursor: pointer;
    background: white;
    padding: 5px;
    border-radius: 50%;
}
footer .container .right {
    margin-top: 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
footer .container .right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .container .right ul a {
    color: var(--text-color);
    font-family: var(--poppin);
}
footer .container .right .email {
    margin-top: 2rem;
}
footer .container .right .email p {
    font-family: var(--poppin);
    color: var(--sub-text-color);
    margin-bottom: 5px;
}
footer .container .right .email a {
    color: var(--sub-text-color);
    font-family: var(--grotesk);
}
footer .copyright {
    margin-top: 4rem;
    color: var(--sub-text-color);
    font-family: var(--poppin);
    text-align: center;
}

@media (max-width: 1200px) {
    #hero {
        height: unset;
    }

    #engage .retail .text h2 {
        font-size: 90px;
    }
}

@media (max-width: 960px) {
    #engage .retail .text h2 {
        font-size: 50px;
    }

    #engage .retail .board {
        width: 100%;
    }
}

@media (max-width: 860px) {
    #hero .hero-content h1 {
        font-size: 50px;
    }
    #hero .hero-content p {
        width: 100%;
    }

    #showcase .content-container .top {
        display: block;
    }
    #showcase .content-container .top .col-2 {
        margin-top: 1rem;
        width: 100%;
    }

    #engage .retail {
        display: block;
    }
    #engage .retail .text h2 {
        font-size: 70px;
    }
}

@media (max-width: 768px) {
    header .nav-menu {
        position: absolute;
        width: 100%;
        left: 0;
        background: var(--secondary-bg);
        top: -300%;
        transition: 0.5s;
    }
    header .nav-menu ul {
        text-align: center;
        display: flex;
        flex-direction: column;
        left: 0;
        gap: 30px;
        padding: 30px;
    }
    header .nav-menu ul a {
        display: block;
    }
    header .active-nav {
        top: 5rem;
        transition: 0.5s;
    }
    header .contact {
        display: none;
    }
    header .toggle {
        display: block;
    }
    #engage .retail .text h2 {
        font-size: 40px;
    }
    #hero {
        padding-top: 20%;
    }

    #hero .hero-content h1 {
        font-size: 40px;
    }

    footer .container {
        display: block;
    }
    footer .container .left p {
        width: 100%;
    }
    footer .container .right {
        display: block;
    }
}

@media (max-width: 428px) {
    header .showNav {
        width: 80%;
    }
    #engage .retail .board .bottom .col {
        display: block;
        gap: 20px;
    }

    #engage .retail .board .top .col-container .col-2 {
        display: none;
    }

    #engage .retail .board .bottom .col .col-2 {
        margin-top: 2rem;
    }
}
